body {
    font: normal 1em Tahoma, Verdana, Arial, Consolas, "Courier New", monospace;
    /* background: #FEFEFA; */
    background-color: rgb(248, 248, 248);
    color: black;
    width: 60%;
    height: 100%;
    min-width: 640px;
    text-align: center;
    margin: auto;
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 0px !important;
}
input,
textarea {
    margin: 4px;
    border-collapse: collapse;
}
button {
    height: 1.5em;
    padding: 0 5px 0 5px !important;
    vertical-align: middle !important;
    min-width: 80px;
}

#div_main_hdr {
    width: 100%;
    text-align: left;
}

#span_main_phi {
    margin-left: 0.125em;
    float: left;
    padding: 0;
}
    
#span_main_phi img {
    width: 1.5em;
    height: 1.5em;
}

#span_main_log {
    float: right;
    margin-right: 0.125em;
}

.auth-button {
    margin-left: 0.125em;
    margin-right: 0.125em;
}

.auth-button img {
    width: 1.5em;
    height: 1.5em;
}


#div_main_pfl {
    width: 100%;
    display: inline-block;
    text-align: right;
    /* border: 1px solid #DCDCDC; */
    /* background-color: #F8F8FF; */
}
