
body {
    font: normal 1em Arial, Verdana, Consolas, "Courier New", monospace;
    background: #FEFEFA;
    color: black;
    width: 80%;
    height: 100%;
    min-width: 640px;
    text-align: center;
    margin: auto;
}

* {
    box-sizing: border-box;
}

input {
    margin: 4px;
}

button {
    height: 24px;
    padding: 0 5px 0 5px !important;
    vertical-align: middle !important;
}

#table_body {
    width: 100%;
    border: 1px solid #1376BC;
    text-align: center;
}

#td_logo {
    text-align: left;
    width: 20px;
}

#div_logo {
    display: inline-block;    
}

#td_logo img {
    width: 16px;
}

#td_login {
    text-align: right;
}

#td_google {
    text-align: right;
}

#td_facebook {
    text-align: right;
}

#td_fb_status
{
    text-align: right;
}

#td_username {
    text-align: right;
}

#td_profile {
    text-align: right;
}

#td_open_file {
    text-align: right;
    vertical-align: middle;
}

#label_open_file {
    overflow: hidden;
    position: relative;
    height: 24px;
    padding: 2px 5px 10px 5px !important;
    vertical-align: middle !important;
}

#label_open_file:hover {
    background-color: #87CEEB;
    cursor: pointer;  
}

#input_open_file {
    /* display: none; */
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;    
}

#div_open_file,
#div_file_properties {
    text-align: left;
}

#div_profile_name,
#div_profile_name_name,
#div_profile_email,
#div_profile_lastdate,
#div_profile_counter {
    display: inline-block;
}

#div_profile_name_name {
    font-weight: bold;
    cursor: pointer;
    color: blue;
}

#table_file_properties {
    margin: auto;
    width: 98%;
}

#table_file_properties tr td:first-child {
    width: 76px;
}

#table_file_properties input {
    width: 100%;
}

#table_file_properties td {
    text-align: left;
}

/* Datasets  */

.dataset-item-table {
	box-sizing: border-box;
	border-collapse: collapse;
    border: 1px solid #DDDDDD;
	padding: 0;
	width: auto;
}

.dataset-item-table td {
    text-align: left;
}

.dataset-item-button {
    display: inline;
    cursor: pointer;
    color: red;
}
    
/* Modal popup window */

#div_modal_window {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#div_modal_window_content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #13A0F0;
    width: 60%;
    max-width: 95%;
    box-shadow: 0 0 20px 4px #C9C9C9;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    cursor: pointer;
    text-align: center;
    font: 16px Consolas;
}

#div_modal_window_content:hover,
#div_modal_window_content:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#div_modal_window_content_header {
    padding: 1px 1px;

    color: white;
}

#div_modal_window_content_body {
    padding: 10px 10px;
    background-color: #FCFCFC;
}

#div_modal_window_content_footer {
    padding: 1px 1px;
    color: white;
}


