
body {
    font: normal 1em Arial, Verdana, Consolas, "Courier New", monospace;
    background: #FEFEFA;
    color: black;
    width: 80%;
    height: 100%;
    min-width: 640px;
    text-align: center;
    margin: auto;
}

* {
    box-sizing: border-box;
}

input,
textarea {
    margin: 4px;
}

button {
    height: 24px;
    padding: 0 5px 0 5px !important;
    vertical-align: middle !important;
}

#table_body {
    width: 100%;
    border: 1px solid #1376BC;
    text-align: center;
}

#td_logo {
    text-align: left;
    width: 20px;
}

#div_logo {
    display: inline-block;    
}

#td_logo img {
    width: 16px;
}

#td_login {
    text-align: right;
}

#td_google {
    text-align: right;
}

#td_facebook {
    text-align: right;
}

#td_fb_status
{
    text-align: right;
}

#td_username {
    text-align: right;
}

#td_profile {
    text-align: right;
}

#td_open_file {
    text-align: right;
    vertical-align: middle;
}

#label_open_file {
    overflow: hidden;
    position: relative;
    height: 24px;
    padding: 2px 5px 10px 5px !important;
    vertical-align: middle !important;
}

#label_open_file:hover {
    background-color: #87CEEB;
    cursor: pointer;  
}

#input_open_file {
    /* display: none; */
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;    
}

#div_open_file,
#div_file_properties {
    text-align: left;
}

#div_profile_name,
#div_profile_name div,
#div_profile_email,
#div_profile_email div,
#div_profile_lastdate,
#div_profile_lastdate div,
#div_profile_counter,
#div_profile_counter div{
    display: inline-block;
}

#div_profile_name div {
    font-weight: bold;
    cursor: pointer;
    color: blue;
}

#table_file_properties {
    margin: auto;
    width: 98%;
}

#table_file_properties tr td:first-child {
    width: 76px;
}

#table_file_properties input {
    width: 100%;
}

#table_file_properties td {
    text-align: left;
}

/* Datasets  */
h3 {
    text-align: left;
}

.dataset-item-table {
	box-sizing: border-box;
	border-collapse: collapse;
    /* border: 1px solid #DDDDDD; */
	padding: 0;
	width: auto;
    /* min-width: 600px; */
}

.dataset-item-table td {
    text-align: left;
    min-width: auto;
}

.dataset-item-table input,
.dataset-item-table textarea {
    width: 100%;
    padding: 1px;
    margin: 0px;
}

.dataset-edit-button,
.dataset-cancel-button {
    display: inline;
    cursor: pointer;
    color: red;
}
    
.dataset-disabled-button {
    display: inline;
    cursor: default;
    color: gray;
}
/* Modal popup window */

#div_modal_window {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#div_modal_window_content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #13A0F0;
    width: 60%;
    max-width: 95%;
    box-shadow: 0 0 20px 4px #C9C9C9;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    cursor: pointer;
    text-align: center;
    font: 16px Consolas;
}

#div_modal_window_content:hover,
#div_modal_window_content:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#div_modal_window_content_header {
    padding: 1px 1px;

    color: white;
}

#div_modal_window_content_body {
    padding: 10px 10px;
    background-color: #FCFCFC;
}

#div_modal_window_content_footer {
    padding: 1px 1px;
    color: white;
}

.ui-selectmenu, .ui-selectmenu-menu-dropdown { width: 400px !important; }

/* Selectmenu
----------------------------------*/
.ui-selectmenu { display: block; display: inline-block; position: relative; height: 2.2em; vertical-align: middle; text-decoration: none; overflow: hidden; zoom: 1; }
.ui-selectmenu-icon { position:absolute; right:6px; margin-top:-8px; top: 50%; }
.ui-selectmenu-menu { padding:0; margin:0; position:absolute; top: 0; display: none; z-index: 1005;} /* z-index: 1005 to make selectmenu work with dialog */
.ui-selectmenu-menu  ul { padding:0; margin:0; list-style:none; position: relative; overflow: auto; overflow-y: auto ; overflow-x: hidden; } 
.ui-selectmenu-open { display: block; }
.ui-selectmenu-menu-popup { margin-top: -1px; }
.ui-selectmenu-menu li { padding:0; margin:0; display: block; border-top: 1px dotted transparent; border-bottom: 1px dotted transparent; border-right-width: 0 !important; border-left-width: 0 !important; font-weight: normal !important; }
.ui-selectmenu-menu li a,.ui-selectmenu-status { line-height: 1.4em; display: block; padding: .405em 2.1em .405em 1em; outline:none; text-decoration:none; }
.ui-selectmenu-menu li.ui-state-disabled a, .ui-state-disabled { cursor: default; }
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status { padding-left: 20px; position: relative; margin-left: 5px; }
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon { position: absolute; top: 1em; margin-top: -8px; left: 0; }
.ui-selectmenu-status { line-height: 1.4em; }
.ui-selectmenu-menu li span,.ui-selectmenu-status span { display:block; margin-bottom: .2em; }
.ui-selectmenu-menu li .ui-selectmenu-item-header { font-weight: bold; }
.ui-selectmenu-menu li .ui-selectmenu-item-footer { opacity: .8; }
/* for optgroups */
.ui-selectmenu-menu .ui-selectmenu-group { font-size: 1em; }
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label { line-height: 1.4em; display:block; padding: .6em .5em 0; font-weight: bold; }
.ui-selectmenu-menu .ui-selectmenu-group ul { margin: 0; padding: 0; }
/* IE6 workaround (dotted transparent borders) */
* html .ui-selectmenu-menu li { border-color: pink; filter:chroma(color=pink); width:100%; }
* html .ui-selectmenu-menu li a { position: relative }
/* IE7 workaround (opacity disabled) */
*+html .ui-state-disabled, *+html .ui-state-disabled a { color: silver; }
