
body {
    font: normal 1em Tahoma, Verdana, Arial, Consolas, "Courier New", monospace;
    background: #FEFEFA;
    color: black;
    width: 60%;
    height: 100%;
    min-width: 640px;
    text-align: center;
    margin: auto;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;    
}

input,
textarea {
    margin: 4px;
    border-collapse: collapse;
}

button {
    height: 1.5em;
    padding: 0 5px 0 5px !important;
    vertical-align: middle !important;
    min-width: 80px;
}

label .ds-add-file {
    overflow: hidden;
    position: relative;
    height: 1.5em;
    padding: 2px 5px 10px 5px !important;
    vertical-align: middle !important;
}

label .ds-add-file:hover {
    background-color: #87CEEB;
    cursor: pointer;  
}

input[type='file'] {
    /* display: none; */
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;    
}

#table_body {
    width: 100%;
    border: 1px solid #DCDCDC;
    text-align: center;
    background-color: rgb(248, 248, 248);
}

#td_logo {
    text-align: left;
    width: 20px;
}

#div_logo {
    display: inline-block;    
}

#td_logo img {
    width: 16px;
}

#td_login {
    text-align: right;
}

#td_username {
    text-align: right;
}

#td_profile {
    text-align: right;
    border: 1px solid #DCDCDC;
    background-color: #F8F8FF;
}

#td_ds_list .dsitem-content {
    border: 0;
}

#td_ds_create {
    text-align: left;
}

#div_open_file,
#div_file_properties {
    text-align: left;
}

#span_profile_name,
#span_profile_name span,
#span_profile_email,
#span_profile_email span,
#span_profile_lastdate,
#span_profile_lastdate span,
#span_profile_counter,
#span_profile_counter span {
    display: inline-block;
}

#span_profile_name span {
    font-weight: bold;
    color: blue;
}

#span_profile_name span:hover {
    cursor: pointer;
    color: blue;
    text-shadow: black 0.1em 0.1em 0.2em;
}

#span_profile_name span:active {
    cursor: pointer;
    text-shadow: 0 0 0;
    color: blue;
}

/* Datasets  */
.dsitem-header {
    text-align: left;
}

.dsitem-content {
    text-align: center;
}

.ds-props-table {
	border-collapse: collapse;
    /* border: 1px solid #DDDDDD; */
	padding: 0;
	width: 100%;
}

.ds-props-table td {
    text-align: left;
    vertical-align: top;
    width:
}

/* .ds-props-table input,
.ds-props-table textarea {
    min-width: 25em;
} */


.dsitem-header .ui-icon {
    float: left;
    margin-left: 0;  
    margin-top: 0.2em;
}

.dsitem-header-title {
    float: left;
    margin-left: 0.5em;
}

.dsitem-header-delete img {
    float: right;
    width: 16px !important;
    height: auto;
    margin-top: 0.2em;
    padding: 0;
}



.ds-td-title-input {
    width: 100%;
    
}
.ds-props-table button {
    min-width: 7em;
    max-width: 7em;
}

.dsitem-title-input,
.dsitem-category-input,
.dsitem-description-textarea,
.dsitem-keyword-div {
	border-collapse: collapse;    
    font-size: 1em;
    padding: 1px !important;
    margin: 0px !important;
    border: 1px solid #DDDDDD;
    min-width: 15em !important;
    width: 100%;
}

.dsitem-title-input,
.dsitem-category-input {
    height: 1.5em;
}

.dsitem-description-textarea {
    /* fix inconsistent textarea bottom margin */
    display: block; 
}

.dsitem-description-textarea,
.dsitem-keyword-div {
    white-space: pre-wrap;
    min-height: 1.5em; 
    height: 3em;
}


.dsitem-keyword-div {
    /* display: inline-block !important; */
    float: left;
    resize: both;
    overflow: auto;
}

.ds-span-kwd {
    /* white-space: break-word; */
    display: table;
}

.ds-span-kwd:hover {
    cursor: pointer;
    color: blue;
    text-shadow: 0.1em 0.1em 0.4em #C9C9C9;
}

.ds-span-kwd:active {
    cursor: pointer;
    text-shadow: 0 0 0;
}

.dsitem-f-list {
    width: 100%;
}

.ds-delete-row {
    /* FIX */
    text-align: center !important;
}

.ds-add-file {
    height: 24px !important;
    padding: 0 5px 0 5px !important;
    vertical-align: middle !important;
    min-width: 100px !important;
}

/* Modal popup window */

#div_modal_window {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#div_modal_window_content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #13A0F0;
    width: 60%;
    max-width: 95%;
    box-shadow: 0 0 20px 4px #C9C9C9;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    cursor: pointer;
    text-align: center;
    font: 16px Tahoma;
}

#div_modal_window_content_body {
    white-space: pre;
}
#div_modal_window_content:hover,
#div_modal_window_content:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#div_modal_window_content_header {
    padding: 1px 1px;

    color: white;
}

#div_modal_window_content_body {
    padding: 10px 10px;
    background-color: #FCFCFC;
}

#div_modal_window_content_footer {
    padding: 1px 1px;
    color: white;
}

/* jquery-ui*/

.ui-selectmenu-button {
    height: 1.5em;
    padding-bottom: 2px  !important;
    padding-top: 2px !important;
}

.ui-menu-item {
    text-align: left;
    font: bold 1em monospace !important;
}

.ui-selectmenu-text {
    font: bold 1em monospace !important;
}

.ui-accordion .ui-accordion-content {
    background-color: rgb(248, 248, 248) !important;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}

.ui-accordion-header {
	height: 2em !important;    
    padding: 0.25em !important;
    font-weight: bold !important;
}

.ui-accordion .ui-accordion-title {
	font-size: 1em;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
	vertical-align: middle;
}

.ui-button {
	font-weight: bold !important;
}

.ui-widget {
	font-size: 1em;
}

